div {
    border: 1px black solid;
	padding: 10px; 
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #9999FF;
}

.header-1 {
	width: 75%;
	font-size: 35px;
	font-family: Apple Chancery, cursive;
	text-align: center;
}

.header-2 {
	width: 20%;
}

.header-2 img {
	width: 62px;
	height: 62px;
	border: 1px darkblue solid;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	background-color: #6666FF;
	font-size: 25px;
}

div.menu a {
	color: black;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
	background: #7777ff;
	font-size: 25px;
}

div.block-1 {
	padding: 30px;
}

.block-1 {
	width: 63%;
}

.block-2 {
	width: 30%;
}

div.block-2 img {
	width: 350px;
}

a {
	text-decoration-color: black;
	color: blue;
}